<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seizedays.semall.manage.mappers.PmsBaseAttrInfoMapper">

    <select id="selectAttrValueListByValueId" resultMap="PmsBaseAttrInfoMap">
        SELECT
            ba.id as ba_id, ba.attr_name, ba.catalog3_id, ba.is_enabled, bv.id as bv_id, bv.value_name, bv.attr_id, bv.is_enabled
        FROM
            pms_base_attr_info ba,
            pms_base_attr_value bv
        WHERE
            ba.id = bv.attr_id
        and
            bv.id in (${valueIdStr})
    </select>

    <resultMap id="PmsBaseAttrInfoMap" type="com.seizedays.semall.beans.PmsBaseAttrInfo" autoMapping="true">
        <result column="ba_id" property="id"/>
        <collection property="attrValueList" ofType="com.seizedays.semall.beans.PmsBaseAttrValue" autoMapping="true">
            <result column="bv_id" property="id"/>
        </collection>
    </resultMap>
</mapper>
